#track-picker {
    width: 30%;
    display: block;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    top: 0;
    overflow-y: scroll;
    max-height: 100%;
    z-index: 2;
}

#track-picker ul {
    width: 100%;
    left: 0px;
    z-index: 2;
}

#track-picker li {
    cursor: pointer;
    background: transparent;
    transition-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transition-property: background;
    z-index: 2;
}

#track-picker li:hover {
    background: rgba(255, 255, 255, .1);
}

figure {
    position: relative;
    z-index: 2;
}

#track-picker img {
    opacity: 1;
    width: 40%;
    z-index: 2;
}

figcaption {
    position: absolute;
    top: 0px;
    left: 41%;
    color: white;
    line-height: 2em;
    text-align: right;
    line-height: initial;
    z-index: 2;
}

.track-duration {
    display: block;
    z-index: 2;
}

.track-title {
    display: block;
    z-index: 2;
}